<h1>Scattergories</h1>
<div>
  <%= form_for  @round do |f|%>
  <%= f.submit "New Game" %>
  <% end %>
  <!-- <form action="/games" method="post"> -->
    <!-- <input type="hidden" name="authenticity-token" value="form_authenticity_token"> -->
    <!-- <button>New Game</button> -->
  <!-- </form> -->
  
</div>