<div class="page-wrapper">
  <header>Welcome to Scattergories</header>
  <!--Remember that :list_one will be dynamically selected once we give users a choice as to which list they're playing on-->
  <div class="playcards">
    <% n = 1 %>
    <% @game.category_list.sample.each do |category| %>
      <label class="answer-label" id="slot-<%= n %>" ><%= category %>
        <input class="playcard" id="answer-<%= n %>" type="text">
      </label><br/>
      <% n+= 1 %>
    <% end %>
  </div>

  <div class="game-controls">
    <div class="die">
      <button id="die_button">Roll The Die</button>
      <div id="roll_result">
        
      </div>
    </div>
    <div class="timer">
      <button>Start Timer!</button>
    </div>
    <div class="next-round-button">
    </div>
  </div>

</div>