<div class="page-wrapper">

  <div class="category-list">
    <ol class="category-names">
    </ol>
  </div>

  <div class="playcard">
    <% (1..12).to_a.each do |n| %>
      <label class="answer-label">Answer <%= n %></label>
        <input class="playcard" id="slot_<%= n %>" type="text"></input>
    <% end %>
  </div>

  <div class="game-controls">
  </div>

</div>