<div class="page-wrapper">
  <header>Welcome to Scattergories</header>
  <!--Remember that :list_one will be dynamically selected once we give users a choice as to which list they're playing on-->
  <div class="playcard">
    <% n = 1 %>
    <% @game.category_list[:list_one].each do |category| %>
      <label class="answer-label"><%= category %>
        <input class="playcard" id="slot_<%= n %>" type="text">
      </label><br/>
      <% n+= 1 %>
    <% end %>
  </div>

  <div class="game-controls">
    <div class="die">

    </div>
    <div class="timer">
      <button>Start Timer!</button>
    </div>
    <div class="next-round-button">
    </div>
  </div>

</div>